
.padre{
  padding: 5px;
  margin:  auto;
  text-align:center;
  width: 200px;
}

.texto-repuesta{
  padding: 5px;
  margin:  auto;
  text-align:center;
  width: 500px;
}

#txtCantidad{
  text-align: right;
}